:root {
    --font-main: 'Rubik', sans-serif;
    --font-second: 'Poppins', sans-serif;
    --color-main: #005570;
    --color-second: #2DAFD7;
    --color-bg: #F3FCFF;
    --color-opacity: #99BBC6;
    --color-opacity2: #F6F6F6;
    --svg-person: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  width='25' fill='%2399BBC6' class='bi bi-person' viewBox='0 0 16 16'%3E%3Cpath d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z'/%3E%3C/svg%3E");
    --svg-email: url("data:image/svg+xml,%3Csvg  width='25' viewBox='0 0 24 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='22.4' height='17' stroke='%2399BBC6'/%3E%3Cpath d='M0.900024 0.449951L12.15 12.15L22.5 0.449951' stroke='%2399BBC6'/%3E%3C/svg%3E%0A");
    --svg-tel: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' fill='%2399BBC6' class='bi bi-telephone' viewBox='0 0 16 16'%3E%3Cpath d='M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z'/%3E%3C/svg%3E");
    --svg-dotted: url("data:image/svg+xml,%3Csvg width='299' height='368' viewBox='0 0 299 368' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.4316 342.942L41.5534 350.548C40.9598 351.108 40.3659 351.001 39.6532 350.872L33.3578 349.853L33.1684 361.08C32.8892 362.885 31.7342 363.163 29.7955 361.717L2.58616 340.982L2.58374 340.981C0.18355 339.155 0.276988 337.468 1.81393 337.021L35.3128 327.704C37.6096 327.08 38.7046 328.261 37.9738 329.954L34.6222 337.745L10.4911 338.88C9.32553 338.903 9.06103 339.748 10.0699 339.874L33.4316 342.942Z' fill='%232DAFD7'/%3E%3Cpath d='M239 1C258.5 17.3333 294.767 60.7936 298 107.5C303.921 193.048 249.36 241.895 180.5 293C123.374 335.397 87.3333 338 49 345' stroke='%232DAFD7' stroke-dasharray='10 20'/%3E%3C/svg%3E%0A");
}

.bg-main {
    background-color: var(--color-main);
    color: white;
}

.pointer {
    cursor: pointer;
}

.cols {
    color: var(--color-second) !important;
}

.btn-main {
    background-color: var(--color-second);
    color: var(--color-opacity2)
}

.btn-main:hover {
    background-color: var(--color-opacity2);
    color: var(--color-second);
    border: 2px solid var(--color-second);
}

.inverse {
    background-color: white;
    color: var(--color-second);
    border: 2px solid var(--color-second);
    border-radius: 5px;
}

.inverse:hover {
    background-color: var(--color-second);
    color: var(--color-opacity2);
    border: 2px solid var(--color-main);
    border-radius: 5px;
}

html {
    font-size: 18px;
}

body {
    font-family: var(--font-second);
    color: var(--color-main);
}

.wrapper {
    max-width: 1540px;
    margin: 0 auto;
}

.container {
    max-width: 1140px;
    /* border: 1px solid grey; */
}

span {
    color: var(--color-second);
}

.bg {
    background-color: var(--color-bg);
    position: absolute;
    height: 1178px;
    left: 0px;
    top: 0px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    z-index: -1;
}

.bg-text {
    position: absolute;
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 700;
    font-size: 144px;
    opacity: 0.03;
    top: -10%;
    right: 0;
}

.bg-block {
    background-color: var(--color-bg);
}

.fs-24 {
    font-size: 24px !important;
    color: var(--color-second)
}

.fs-20 {
    font-size: 20px !important;
}

.pr-my {
    padding-right: 0px !important;
}

.absolute-c {
    position: absolute;
    top: -25px;
    left: 45px;
    z-index: -1;
}

input, button, .block {
    box-shadow: 5px 5px 20px rgba(0, 85, 112, 0.15);
    border-radius: 5px;
}

h1 {
    font-family: var(--font-main);
    font-size: 44px;
    color: var(--color-main);
    text-transform: uppercase;
    margin: 0;
}


h2 {
    font-size: 20px;
    font-family: var(--font-second);
    font-weight: 700;
}

h3 {
    font-family: var(--font-second);
    color: var(--color-main);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5rem;
}

.right-border {
    border-right: 5px solid var(--color-bg);
}

.block-br {
    border-right: 1px solid var(--color-second);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.block-bl {
    border-left: 1px solid var(--color-second);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.fs-16 {
    font-size: 16px;
}

.fs-12 {
    font-size: 12px;
}

input {
    width: 300px;
}

.mt-120 {
    margin-top: 120px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-40 {
    padding-top: 40px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mt-15 {
    margin-top: 15px;
}

.title {
    color: var(--color-main);
    font-size: 36px;
    font-family: var(--font-main);
    font-weight: 700;
    text-transform: uppercase;
}


.text {}

button {
    font-size: 16px;
    font-family: var(--font-main);
    text-transform: uppercase;
}

.block {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.text {}

.form {
    background-image: var(--svg-dotted);
    background-repeat: no-repeat;
    background-position-x: 385px;
    background-position-y: 200px;
    background-size: 280px;
}

.col-md-form{
    background-color:black;
}

input::placeholder {
    color: var(--color-opacity) !important;
}

.form-control {
    font-size: 16px;
    background-position: left;
    background-position-x: 15px;
    background-repeat: no-repeat;
}

#name {
    background-image: var(--svg-person);
}

#email {
    background-image: var(--svg-email);
}

#tel {
    background-image: var(--svg-tel);
}


@media (max-width:991px) {
    .form{
background-image:none;
    }
    .bg{
        width: 100%;
        height: 100%;
    }
}